:root {
  --light-blue: #b1f2ff;
  --dark-grey: #272727; 
}

.navbar-container {
  display: flex;
  position: sticky;
  top: 0;
  transition: top 0.3s ease;
  justify-content: center;
  padding: 1rem;
  background-color: var(--dark-grey);
  width: 100%;
  box-sizing: border-box;
}

.app-container {
  width: 100%;
  height: 110vh;
  box-sizing: border-box;
  /* Add any shared layout styles here */
}

@media only screen and (max-width: 600px) {
  .navbar-container {
    display: flex;
    justify-content: flex-end;
  }
}